<div class="card mb-4">
    <div class="card-header">Login user</div>
    <div class="card-body">
        <div class="card-body-user-name">
            <div class="fw-bold">Name</div>
            <p>John</p>
            </div>
            <div class="card-body-user-birthday">
                <div class="fw-bold">Birthday</div>
                <p>1999/01/01</p>
            </div>
            <div class="card-body-user-profile">
                <div class="fw-bold">Profile</div>
                <p>Hi there, I'm John!</p>
            </div>
        </div>
    </div>
</div>